/* opacity slider template */


.content-template1{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#carouselExampleCaptions{
    z-index: -1;
}

/* .component{
    height: 100px;
} */


/* barista make e coffe */

.box-img{
    height: 30%;
    background-color: blanchedalmond;
    filter: blur(25px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.picture-barista{
    overflow: hidden;
    box-shadow: 10px 10px 5px 0px rgba(24, 24, 24, 0.75);
}

.picture-barista img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-origin: border-box;
    
}


/* section content1 */



section{
    margin-top: 200px;
}



/* img make e coffe by client*/
.img-make-coffe{
    border-top-left-radius: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 200px;
}



/* place coffe here */
#place-coffe .content-place .shadow-place{
    background-color: black;
    /* fill-opacity: 5%; */
    filter: blur(1.1rem) opacity(0.6);
    height: 50%;
    bottom: -4%;
    right: -4%;
    z-index: -1;
    border-radius: 5%;
}


/* testimonii */
#testimoni .content-testimoni{
    width: 50%;
    border-radius: 50px
}


.left-button{
    background-image: url("/img-stock/pngegg\ \(3\).png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 6%;
}

.right-button{
    background-image: url("/img-stock/pngegg\ \(3\).png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 6%;
    transform: rotate(180deg);
}






/* responsive */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .advantage-coffe4, .advantage-coffe5{
        width: 100% !important;
    }

    #testimoni .content-testimoni{
        width: 100% !important;
    }

    #place-coffe .content-place .shadow-place{
        bottom: 3%;
        right: 3%;
        filter: blur(0.6rem) opacity(0.5);
    }


    .icon-place{
        /* width: 10% !important; */
        padding: 20px !important;
    }
    
    .icon-acc{
        padding: 10px;
    }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .box-img{
        /* bottom: 25px;
        left: 25px; */
        filter: blur(15px);
    }

    .advantage-coffe4, .advantage-coffe5{
        width: 100% !important;
    }

    #testimoni .content-testimoni{
        width: 100% !important;
    }

    .left-button{
        width: 7.5%;
    }
    
    .right-button{
        width: 7.5%;
    }


    .icon-place{
        width: 20% !important;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #testimoni .content-testimoni{
        width: 75%;
    }

    .icon-place{
        width: 17%;
    }

    .icon-acc{
        width: 20%;
    }

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}


/* // Large devices (desktops, less than 1500px) */
@media (max-width: 1499.98px) {

}